@font-face {
  font-family: 'Rockwell';
  src: url("../fonts/RockwellRegular.eot");
  src: url("../fonts/RockwellRegular.woff");
  src: url("../fonts/RockwellRegular.ttf"); }

@font-face {
  font-family: 'Rockwell';
  src: url("../fonts/RockwellBold.eot");
  src: url("../fonts/RockwellBold.woff");
  src: url("../fonts/RockwellBold.ttf"); }
